
  <header>
    <img src="assets/images/banner.jpg" alt="Banner">
  </header>
  <div class="home-container">
  <div class="content">
    <div class="main">
      <h1>Welcome to PETlet World</h1>
      <img src="../../assets/images/dog.png" alt="Husky Image">
    </div>


    <div class="button-container">
      <div class="button-description-container">
        <button class="login-button" (click)="openLoginDialog()">Login</button>
        <p>Login to your existing account</p>
      </div>
      <div class="button-description-container">
        <button class="guest-button" routerLink="/padlets">Join as a Guest</button>
        <p>Browse the site as a guest</p>
      </div>
    </div>
    <div class="description-container mat-elevation-z4">
      <p>PETlet World is a platform where pet lovers can connect, share, and discover amazing content about pets.</p>
      <div class="rabbit-container">
        <img src="assets/images/rabbit.png" alt="Rabbit Image">
        <p>Rabbits are incredibly cool because they have long ears, hop around, and are exceptionally cute!</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>&copy; 2023 Petlet. All rights reserved.</p>
</footer>
