<div class="main-padlets">
  <div class="meta-daten">
    <h2>Padlet: {{ padlet.name }}</h2>
    <img class="image" *ngIf="padlet.url!= null && padlet.url!= '.png'" [src]="'./assets/images/' + padlet.url" alt="Image of {{ padlet.name }}" />
    <p>Erstellt am: {{padlet.created_at| date :'shortDate'}}</p>
    <div class="creator">Created by {{ padlet.creator }}</div>
  </div>
  <div class="main-entries">
    <div *ngFor="let entry of padlet.entries" class="entry-container">

      <p>{{ entry.content }} <span class="user_id"> created by {{entry.creator}}</span>
        <br><span *ngIf="averageRating(entry)!= 0" class="rating"> Average Rating: {{ averageRating(entry) }}  <mat-icon (click)="openNewRatingDialog(entry)">add</mat-icon></span>
        <span *ngIf="averageRating(entry)== 0" class="rating"> Average Rating: no Ratings yet <mat-icon (click)="openNewRatingDialog(entry)">add</mat-icon></span>
      </p>

      <!-- Kommentare anzeigen -->
      <div class="comments-container">
        <div *ngFor="let comment of entry.comments" class="comment-container">
          <p>{{ comment.content}} </p>
          <span class="written-by">written by: {{comment.creator}}</span>
        </div>
      </div>
      <div class="action-padlet">
        <button mat-raised-button class="add-btn" (click)="openNewCommentDialog(entry)"> Add EntryComment</button>
      </div>
    </div>
  </div>
</div>


<button mat-fab class="fab-button" (click)="openNewEntryDialog()">
  <mat-icon>add</mat-icon>
</button>



