/* You can add global styles to this file, and also import other style files */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  margin-top: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
