<div class="dialog">
  <h3>Please Enter your Email and your Password</h3>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label for="password">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
    </div>

    <button type="submit" class="p-button p-component">Login</button>
  </form>
</div>

